body{
    margin: 0;
    background-color: #d2d4c8;
}
#main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    margin:auto;
}

#img-div{
    background-color: #B8BDB5;
    margin: auto;
    width: 100%;
}
img{
    max-width: 60%;
    display: block;
    height: auto;
    margin: 0 auto;
}
#img-caption{
    padding:10px 0 10px 0;
}
#title{
    font-size: 4rem;
    margin: 15px;
}
#headline{
    text-align: center;
    margin-top: 0;
}
#tribute-info{
    padding-top:30px;
    width: 70%;
    margin: auto;
    background-color: #E0E2DB;
    text-align: left;
}
li {padding-bottom: 15px;}
#tribute-link{
    color: #5F7470;
}

@media (max-width:460px){
    #title{
        font-size: 2.5rem;
    }
}


